<ion-card>
  <ion-card-header>

  <ion-item>
  <ion-avatar slot="start">

    <img src="assets/icon/perfil.png" align="centr">
  </ion-avatar>
  <ion-label>Christian Mainato</ion-label>
</ion-item>

  </ion-card-header>

  <ion-card-content>
    Tecnico en electronica y consumo, tecnico suerior en electricidad automotriz y estudiante.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>EPN (ESFOT)
    </ion-label>
    
  </ion-item>

  <ion-card-content>
    Estudinte de ultimo semestre de la carrera de Analisis de Sistemas Informaticos.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="call-outline" slot="start"></ion-icon>
    <ion-label>0995004985</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-label>cristian0.001@hotmail.com</ion-label>
  </ion-item>

  <ion-item class="ion-activated">
    <ion-icon name="globe-outline" slot="start"></ion-icon>
    <ion-label>Quito-Ecuador</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="people" slot="start"></ion-icon>
    <ion-label>Soltero</ion-label>
  </ion-item>
</ion-card>